.treeRoot {
  &,
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  & {
    padding-top: rem(8px);
    padding-bottom: rem(8px);
  }
}

.draggingSource {
  opacity: 0.3;
}

.placeholderContainer {
  position: relative;
}

.dropTarget {
  background-color: #ebebeb;
}

.placeholder {
  background-color: #d8d8d8;
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}

.customNodeNavLinkLeftSection {
  line-height: 0;
  cursor: grab;
  width: rem(32);
  margin-right: rem(-16);
}
